:root {
    --purple: #1d2039;
    --light-purple: #242947;
    --lighter-purple: #797e9a;
    --green: #66A663;
    --white: #fff;
    --orange: #dbac36;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--purple);
    color: var(--white);
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;

    background-color: var(--light-purple);
    border-radius: 20px;
    padding: 20px;
}

header .logo {
    width: 80px;
}

header h1 {
    text-transform: uppercase;
}

header span {
    color: var(--lighter-purple);
    font-weight: bold;
}

main {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap-reverse;
}

.gameArea {
    background-color: var(--light-purple);
    border-radius: 20px;
    padding: 20px;

    flex-grow: 1000;
    text-align: center;
}

.gameSettings {
    background-color: var(--light-purple);
    border-radius: 20px;
    padding: 20px;
    text-align: center;

    flex-grow: 1;
}

h2 {
    text-transform: uppercase;
}

.points {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.app-input {
    background-color:var(--purple);
    font-size: 20px;
    font-weight: bold;

    line-height: 40px;
    border-radius: 20px;

    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 1;

    cursor: pointer;
}

#gameButton {
    background-color: var(--green);
    line-height: 50px;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;

    cursor: pointer;
}

.field {
    display: inline-grid;
    grid-template-columns: repeat(10, 30px);
    gap: 5px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: var(--purple);
    border-radius: 4px;

    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}

.app-input input {
  border: 0; 
  outline: 0; 
  background: transparent;
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.app-input.active {
    background-color: var(--orange);
}

.cell.active {
    cursor: pointer;
    background-color: var(--lighter-purple);
}

.cell.active:hover {
    opacity: 0.7;
}

.cell.bomb {
    background-color: var(--orange);
    background-image: url('../img/bomb.png');
    background-size: contain;
}

.cell.flag {
    background-color: var(--green);
    background-image: url('../img/flag-in-hole.png');
    background-size: contain;
}

.userRegistration, .userLogin {
    background-color: var(--light-purple);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

#registrationBtn, #loginBtn {
    background-color: var(--green);
    line-height: 50px;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;

    cursor: pointer;
}
 
.app-input.invalid {
    border: 1px solid red;
}
.none{
    display: none;
}
.app-input.disabled{
    display: none;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
}